lab01-linear/.idea/
lab01-linear/cmake-build-debug/
lab02-sort/.idea/
lab02-sort/cmake-build-debug/
lab03-heap-dsu/.idea/
lab03-heap-dsu/cmake-build-debug/
lab04-dp/.idea/
lab04-dp/cmake-build-debug/
lab05-bst/.idea/
lab05-bst/cmake-build-debug/
lab07-segment/.idea/
lab07-segment/cmake-build-debug/
lab08-sortnet/.idea/
lab08-sortnet/cmake-build-debug/
lab09-dfs/.idea/
lab09-dfs/cmake-build-debug/
lab10-shortest-spanning/.idea/
lab10-shortest-spanning/cmake-build-debug/
lab11-matching/.idea/
lab11-matching/cmake-build-debug/
lab13-strings/.idea/
lab13-strings/cmake-build-debug/
lab14-suffix/.idea/
lab14-suffix/cmake-build-debug/
lab16-numbers/.idea/
lab16-numbers/cmake-build-debug/